.chat-box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-2);
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    gap: 8px;
    bottom: 16px;
    z-index: 9999;
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    height: 55.2px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid rgb(132, 184, 224);
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica,
        Cantarell, Ubuntu, Roboto, Noto, Arial, sans-serif;
    right: 2rem;
    padding: 1rem 26px;
    color: rgb(30, 48, 110);
    fill: rgb(30, 48, 110);
    stroke: rgb(30, 48, 110);
}
.chat-box:hover svg {
    fill: var(--background-color-2);
}
.chat-box:hover {
    background-color: var(--primary-dark) !important;
    border: 2px solid var(--background-color-2);
    color: var(--background-color-2);
}

@media screen and (max-width: 768px) {
    .chat-box {
        width: 100px;
        height: 48px;
        font-size: 14px;
        gap: 8px;
        right: 8px;
        bottom: 16px;
    }
}

@media screen and (max-width: 576px) {
    .chat-box {
        width: 90px;
        height: 45px;
        font-size: 13px;
        gap: 6px;
        right: 8px;
        bottom: 14px;
    }
}

@media screen and (max-width: 415px) {
    .chat-box {
        width: 80px;
        height: 42px;
        font-size: 12px;
        gap: 5px;
        right: 6px;
        bottom: 12px;
    }
}

@media screen and (max-width: 375px) {
    .chat-box {
        width: 75px;
        height: 40px;
        font-size: 11px;
        gap: 4px;
    }
}

@media screen and (max-width: 320px) {
    .chat-box {
        width: 70px;
        height: 38px;
        font-size: 10px;
        gap: 4px;
        right: 5px;
        bottom: 10px;
    }
}
