/* ==================CSS VARIABLES================== */
:root{
    /* Colors */
    --primary-color:#1E306E;
    --primary-dark:#26417F;
    --primary-text:#012169;
    --sale-color:#DD7C73;
    --white-color:#FFFFFF;
    --background-color:#EEF1F7;
    --products-badge-color:#00706E;
    --on-sales-text:#00706e;
    --on-sales-cross-text:#68749c;
    --banner-heading-color:#D0FBE2;

    /* hover colors */
    --hover-primary-color:#15264c9a;
    --hover-sale-color:#dd7c7384;
    /* font family */
    --font-primary: 'CalibreWeb', sans-serif;
    --font-secondary: 'NewKansas', sans-serif;
    --font-tertiary: 'SuisseIntl', sans-serif;
    /* font sizes */
    --text-h0: 4.5rem;
    --text-h1: 3.5rem;
    --text-h2: 2.75rem;
    --text-h3: 2rem;
    --text-h4: 1.75rem;
    --text-h5: 1.375rem;
    --text-h6: 1.25rem


}

/* ==================END CSS VARIABLES================== */


